@font-face {
    font-family: 'Ribeye';
    src: url('/Fonts/Ribeye/Ribeye-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/Fonts/Roboto/ttf/Roboto-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Gelasio';
    src: url('/Fonts/Gelasio/ttf/Gelasio-VariableFont_wght.ttf');
}

.image {
    //Size
    width: 100vw;
    height: 100vh;

    //Background image
    background-image: url('/Images/fec6779403fe2374e6453f1e1f7be3a9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    //Type of container
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;


    //Navigation part
    &__nav {
        //Type of container
        display: flex;
        align-items: center;

        //Margins
        padding-top: 37.5px;

        //Size
        width: 1400px;
        height: 88.5px;

        //Logo
        &--logo {
            //Font settings
            font-size: 30px;
            font-family: 'Ribeye';
            color: rgba(255, 255, 255, 1);
        }

        //Button
        &--button {
            //Size
            width: 208px;
            height: 51px;

            //Background settings
            background-color: rgba(201, 69, 59, 1);

            //Border
            border: {
                radius: 5px;
                width: 0px;
            }

            //Margins
            padding: {
                left: 35px;
                right: 35px;
            };
            
            //Font settings
            font-size: 20px;
            font-family: 'Roboto';
            color: rgba(255, 255, 255, 1);

            &:hover {
                transition: all 0.4s ease;
                background-color: rgb(163, 48, 40);
            }

            &:active {
                transition: all 0.1s ease;
                background-color: rgb(63, 9, 5);
            }
        }

        //Links container
        &--links {

            //Size
            width: 1021.39px;

            //Type of container
            display: flex;
            box-sizing: border-box;

            //Margins
            padding: {
                left: 200px;
                right: 200px;
            };

            //Links
            &--a {

                //Size
                flex-grow: 1;

                //Type of container
                display: flex;
                justify-content: center;
                align-items: center;

                //Font settings
                font-family: 'Roboto';
                color: rgba(255, 255, 255, 1);
                font-size: 22.5px;
                text-decoration: none;
                font-weight: 500;

                &:hover {
                    transition: all 0.4s ease;
                    color: rgb(200, 200, 200);
                }

                &:active {
                    transition: all 0.1s ease;
                    color: rgb(121, 120, 120);
                }
                
            }
        }
    }


    //explore part
    &__explore {

        //Size
        width: 1406px;

        //Container
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        //Heading
        &--heading {

            //Font settings
            font-size: 80px;
            color: rgba(255, 255, 255, 1);
            font-weight: 700;
            font-family: 'Gelasio';
        }

        //Text 
        &--text {

            //Size
            width: 550px;

            //Margins
            margin: {
                top: 30px;
                bottom: 30px;
            }

            //Font settings
            font-size: 22.5px;
            color: rgba(255, 255, 255, 0.6);
            font-family: 'Roboto';
            font-weight: 400;
        }

        //Button
        &--button {

            //Font settings
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 20px;
            color: rgba(255, 255, 255, 1);

            //Background
            background-color: rgba(201, 69, 59, 1);

            //Border
            border-radius: 5px;
            border: none;

            //Margins
            padding: {
                top: 20px;
                bottom: 20px;
                left: 58.5px;
                right: 58.5px;
            }
            
            &:hover {
                transition: all 0.4s ease;
                background-color: rgb(163, 48, 40);
            }

            &:active {
                transition: all 0.1s ease;
                background-color: rgb(63, 9, 5);
            }
        }
    }
}